.form-container {
    padding: 15px;
    gap: 20px;
}

.divide-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.submit-container {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.modal-content {
    min-width: 30vw;
    max-width: 40vw;
    border: none;
    outline: none;
    padding: 15px;
}

    .modal-content.big {
        min-width: 60vw;
        max-width: 80vw;
        border: none;
        outline: none;
        padding: 15px;
    }

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.modal-message {
    font-size: 1.1rem;
    padding: 10px;
}

.modal-sub-message {
    font-size: 0.9rem;
    padding: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
}

.file-upload-input {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
    opacity: 0;
}